<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.siteBaslik</title>
</head>
<body>
    <h1>Layout sayfası burada</h1>
    @RenderBody()
    <h1>Burası layout sayfasının altı</h1>
</body>
</html>